/*
	Tapestry by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

html, body {
}

body {
	margin: 0em;
	padding: 0em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #877850;
}

body, #skel-panels-pageWrapper {
	background: #FFF2CF url(images/img01.png) repeat;
}

h1, h2, h3 {
	margin: 0em;
	padding: 0em;
	text-transform: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #887644;
}

h2 {
	font-size: 1.75em;
}

p {
	line-height: 170%;
}

a {
	color: #706443;
}

strong {
	font-weight: 700;
	color: #675830;
}

/* Button Style */

.button-style a {
	display: inline-block;
	height: 2.60em;
	margin-top: 1.25em;
	padding: 0em 1.25em 0em 1.25em;
	background: #766946;
	border-radius: 5px;
	line-height: 2.60em;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
	font-size: 0.90em;
	color: #FFFFFF;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
	
	#copyright
	{
		position: relative;
		padding: 3em 0em;
		text-align: center;
		color: #877850;
		background: #62573b;
	}
	
	#copyright .container
	{
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #877850;
	}
